<% provide(:title, "Pourquoi générer un code 2D") %>
<!-- Permet de donner un nom à la page -->

<h1>Bienvenue sur la page "about"</h1>

<div class="jumbotron">
	<p>Ici Nous pouvons expliquer à l'assuré pourquoi réaliser un code 2D</p>





</div>
