<% provide(:title, "Page d'Accueil") %>
<!-- Permet de donner un nom à la page -->

<h1>Bienvenue sur le Générateur de Code 2D</h1>

<div class="jumbotron">

	<p>Sur cette page, il faut créer l'historiques des codes. Le tableau qui affiche les informations : Date, Créateur, Sté, Documents. Nous sommes sur la page index.html.erb</p>

	<p>Le bouton Créer un nvo code se situe dans la nav bar pour le moment (helper)</p>

	<p>Tout ce qui est écrit ici fera partie de la class Jumbotron pour le cadre.</p>
</div>