<h1>Les Documents de la base de données (<%= @documents.count%>)</h1>
<!--pour afficher le nombre de cours enregistrés -->


<% for document in @documents %>
	<article>
		<h2><%= document.title%></h2>
		<%= image_tag document.image.url(:thumb), alt: document.title%>
		<!-- pour ajout de l'image de type thumb-->
		
		<p><%= document.description%></p>

	</article>

	<hr> <!-- pour séparer les lignes -->


	
<% end %>