<% provide(:title, "Documents") %>
<!-- Permet de donner un nom à la page -->

<h1><%= @documents.count%> Documents disponibles </h1>
<!--pour afficher le nombre de cours enregistrés -->
<!--pour bouton de création d'un nouveau document-->


    <br><hr>

<div class="jumbotron">
	<div class="row">

	<% for document in @documents %>
		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail">
    		  <%= image_tag document.image.url(:medium), alt: document.title%>
    			<div class="caption">
    			    <!-- Ici le lien des titres des documents doivent router sur le doc lui meme. -->
                    <h3><%= link_to document.title, documents_path%></h3>


    			    <h5><%= truncate(document.description, length: 150)%></h5>
        <!-- truncate sert à tronquer le message de description à 150 caractères -->
                    <br>

    			    <p><a href="/admin/codes/new" class="btn btn-lg btn-default">Créer un Code</a></p>

           		</div>
    		</div>
  		</div>	
    <% end %>
	</div>
</div> <!-- conserver cette div pour entourer les docs de la class jumbotron
