<% provide(:title, "Documents dans la") %>
<!-- Permet de donner un nom à la page -->

<h1>Historique</h1>
<h2>Codes précédemment générés (<%= @documents.count%>)</h2>
<!--pour afficher le nombre de cours enregistrés -->

<div class="jumbotron">
	<div class="row">
	<% for document in @documents %>
		<div class="col-sm-4 col-md-3">
    		<div class="thumbnail">
    		  <%= image_tag document.image.url(:medium), alt: document.title%>
    			<div class="caption">
    			    <h3><%= document.title%></h3>
    			    <p><%= document.description%></p>
    			    <p><a href="#" class="btn btn-default" role="button">Visualiser</a></p>
    			</div>
    		</div>
  		</div>
	
<% end %>
	</div>
</div> <!-- conserver cette div pour entourer les docs de la class jumbotron -->