<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<footer class="footer">
  <div class="row">

    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-widget"></i>G2D2</p> 
      <p class="footer-links">
          <%= link_to "Consulter les codes", historique_path%>
          <%= link_to "Consulter les documents", documents_path%>  
      </p>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>Rambouillet 78</p></li>
        <li><p><i class="fi-telephone"></i>+33 6.89.30.15.42</p></li>
        <li><p><i class="fi-mail"></i>alexandra.duval.pro78@gmail.com</p></li>
      </ul>
    </div>

  
    <div class="small-12 medium-12 large-3 columns">
      <ul class="inline-list social">
        <a href="https://twitter.com/Ava78120"><i class="fi-social-twitter"></i></a>
        <a href="https://fr.linkedin.com/in/alexandraduvalroyau"><i class="fi-social-linkedin"></i></a>
        <a href="https://github.com/Ava78"><i class="fi-social-github"></i></a>
      </ul>
    </div>
    <p class="copywrite">&copy; Alexandra DUVAL 2016 All Rights Reserved.</p>
  </div>
</footer>