
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="menu">

  <h1 class="name"><i class="fi-widget"></i>G2D2</a> <%= link_to root_path%></h1>

  <ul class="inline-list">
    
    <li class="active"><%= link_to "Créer un code + créer la route pr créa du code", documents_path%></li>
  </ul>

  <ul class="inline-list hide-for-small-only account-action">
    <li><a href="#" data-reveal-id="myModal">S'inscrire</a></li>
    <li class=""><a class="signup" href="#" data-reveal-id="myModal">Connexion</a></li>
  </ul>

  <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>
</nav>

		       